Repository HYF-Class22/agile-development-group3-all-about-trees, pull requests merged in 2024-02, with the labels that each got.

#22 add user personas childrenmd
  .cspell.json
  package-lock.json
  planning/user-personas.md
Labels: md

#31 latest update footer html
  index.html
  package-lock.json
  tree-group3f.html
Labels: html

#35 add css for index.html
  styles/index.css
Labels: css

#38 modified footer html
  index.html
Labels: html

#39 Add images
  styles/index.css
Labels: css

#43 add logo information
  planning/backlog.md
Labels: md

#40 update development-strategy
  planning/development-strategy.md
Labels: md

#47 add space between footer contents
  styles/index.css
Labels: css
